<div class="container p-0 align-content-center" style="width: 100%;">

  <div class="wrap" style="width: 100%;">
    <img class="about-img" src="assets/images/computer.jpg">
    <div class="about-centered-txt">
      <div>你只需要一个让用户记住</div>
      <div>剩下的随之而来</div>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <i class="fab fa-github fa-10x text-white"></i>
  </div>

  <div class="d-flex justify-content-center">
    <div> I · Our Skills</div>
  </div>

  <div class="d-flex justify-content-center">
    <i class="fas fa-code-branch fa-9x text-white"></i>
  </div>

  <div class="d-flex justify-content-center">
    <div>II · Our Experience</div>
  </div>

  <div class="d-flex justify-content-center">
    <i class="fas fa-dragon fa-7x text-white"></i>
  </div>

  <div class="d-flex justify-content-center">
    <div>III · Our Portfolio</div>
  </div>

  <div class="d-flex justify-content-center">
    <i class="fas fa-balance-scale-left fa-10x text-white"></i>
  </div>

  <div class="d-flex justify-content-center">
    <div>IV · Our values</div>
  </div>

</div>
