.about-img {
  width: inherit;
  height: 50%;
  background: rgba(0, 0, 0, .6)
}

/* Centered text */
.about-centered-txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: 700;
  font-size: 71px;
  z-index: 2;
}

.wrap {
  position: relative;
}

.wrap:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.about-icon{
    position: relative;
    top: -80px;
    z-index: 10;
}
