<div class="sticky" style="background-color:#222831">
  <nav class="nav">
    <!-- Login Location -->
    <div class="logo">
      <a aria-label="Bitpctech" routerLink='/sharedComponent/about' href="#">
        <i class="fas fa-desktop fa-3x"></i>
      </a>
    </div>

    <!-- Nav Left Position -->
    <div class="nav-left vertical-center">
      <a *ngIf="isLoggedIn && isAdmin" routerLink="/admin" class="nav-link">Admin</a>
    </div>

    <div calss="mx-auto">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <button type="button" class="btn btn-link" (click)="onScorll('div1')">Div1</button>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-link" (click)="onScorll('div2')">Div2</button>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-link" (click)="onScorll('div3')">Div3</button>
        </li>
      </ul>
    </div>

    <!-- Nav Right Position -->
    <div class="nav-right">
      <a *ngIf="!isLoggedIn; else notLogedIn" class="app-btn vertical-center" routerLink='/user/login' href="#"
        rel="nofollow">
        <span> Login </span>
      </a>
      <ng-template #notLogedIn>
        <a class="app-btn vertical-center" routerLink='' (click)="onLogout()">Logout</a>
      </ng-template>
    </div>
  </nav>
</div>
