<div class="sticky-top" style="background-color:#222831">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/" href="#"><i class="fas fa-desktop"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            More Actions
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" *ngIf="isLoggedIn && isAdmin" routerLink="/" href="#">Admin</a>
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Go To
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <button type="button" class="header-btn header-link" (click)="onScroll('div1')">Div1</button>
            <button type="button" class="header-btn header-link" (click)="onScroll('div2')">Div2</button>
            <button type="button" class="header-btn header-link" (click)="onScroll('div3')">Div3</button>
          </div>
        </li>
      </ul>
    </div>
    <div>
      <a *ngIf="!isLoggedIn; else notLoggedIn" class="app-btn" routerLink='/user/login' href="#">
        <span> Login </span>
      </a>
      <ng-template #notLoggedIn>
        <a class="app-btn" routerLink='' (click)="onLogout()">Logout</a>
      </ng-template>
    </div>
  </nav>
</div>