<!--The content below is only a placeholder and can be replaced.-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css"
    integrity="sha384-KA6wR/X5RY4zFAHpv/CnoG2UW1uogYfdnP67Uv7eULvTveboZJg0qUpmJZb5VqzN" crossorigin="anonymous">
  <title></title>
</head>


<body>
  <particles [style]="myStyle" [width]="width" [height]="height" [params]="myParams"></particles>
  <app-header></app-header>
  <div class="wrapper-add">
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
</body>


</html>
