<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar" [ngClass]="{ active: !showSideNavBar }">
        <div class="sidebar-header">
            <h3>Welcome 刘少</h3>
        </div>

        <ul class="list-unstyled components">
            <li class="nav-item" routerLinkActive='active'>
                <a class="nav-link"   routerLink='/admin/data-tables' href="#">Data Tables</a>
            </li>
            <li class="nav-item" routerLinkActive='active'>
                <a routerLink='/admin/readme' href="#">Readme</a>
            </li>
            <li class="nav-item">
                <a routerLinkActive='active' routerLink='/admin/data-tables' href="#">Portfolio</a>
            </li>
            <li class="nav-item">
                <a routerLinkActive='active' routerLink='/admin/data-tables' href="#">Contact</a>
            </li>
            <li class="nav-item">
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a href="#">Page 1</a>
                    </li>
                    <li>
                        <a href="#">Page 2</a>
                    </li>
                    <li>
                        <a href="#">Page 3</a>
                    </li>
                </ul>
            </li>
        </ul>

        <ul class="list-unstyled CTAs">
            <li>
                <a  href="#" class="download">Download source</a>
            </li>
            <li>
                <a href="#" class="article">Back to article</a>
            </li>
        </ul>
    </nav>

    <!-- Page Content  -->
    <div id="content">
        <button type="button" class="hamburger animated fadeInLeft mb-3" [ngClass]="{ is_closed: !showSideNavBar, is_open: showSideNavBar }" (click)="toggleNavBar()">
            <span class="hamb-top"></span>
            <span class="hamb-middle"></span>
            <span class="hamb-bottom"></span>
        </button>

        <router-outlet></router-outlet>
    </div>
</div>