<footer class="">
  <div class="container">

    <div class="pb-2 pt-5">
      <ul class="nav justify-content-center">
        <li class="nav-item pl-2 pr-2">
          <a class="text-white legals" routerLink='/about-us' href=""><i class="legals">About</i></a>
        </li>

        <li class="nav-item pl-3 pr-3">
          <a class="text-white legals" href="#"><i class="legals">Contact</i></a>
        </li>

        <li class="nav-item pl-2 pr-2">
          <a class="text-white legals" href="#">
            <i class="legals">Services</i>
          </a>
        </li>
      </ul>
    </div>

    <div class="line"></div>

    <div class="pb-3">
      <ul class="nav justify-content-center">

        <li class="nav-item pr-3">
          <a class="text-white" href="https://github.com/Qianhao96/bitpctech.ga" title="github">
            <i class="fab fa-github legals"></i>
          </a>
        </li>

        <li class="nav-item pl-3">
          <a class="text-white" href="#" title="Email">
            <i class="far fa-envelope legals"></i>
          </a>
        </li>
      </ul>
    </div>

    <div class="pb-3">
      <ul class="nav justify-content-center">
        <li>
          <p class="copy text-white">© 2019 · BitPC · All RIGHTS RESERVED</p>
        </li>
      </ul>
    </div>
  </div>

</footer>
